#main_landing_wrapper {
  width: 100%;
  height: 150vh;

  padding: 9.25vh 0;
}

#main_landing_wrapper > img {
  object-fit: contain;
  object-position: center;
}

@media (max-width: 850px) {
    #main_landing_wrapper {
        height: 100vh;
    }
}