#home_landing_wrapper {
  width: 100%;
  height: 100vh;

  overflow: hidden;
  position: relative;
  background-color: black;

  margin-bottom: 20px;
}

#home_landing_wrapper > div:nth-child(1) {
  width: clamp(200px, 15%, 500px);

  position: absolute;
  left: 10px;
  top: 10px;
}

#home_landing_wrapper > div:nth-child(1) > div:nth-child(1) {
  width: 100%;
}

#home_landing_wrapper > div:nth-child(1) > div:nth-child(2) {
  width: 32.5%;
  transform: translate(7.75%, -70%);
}

#home_landing_wrapper > div:nth-child(2) {
  width: 100%;
  height: fit-content;

  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);

  color: white;
  text-align: center;
  backdrop-filter: blur(10px);

  z-index: 2;
}

#home_landing_wrapper > div:nth-child(2) > div:nth-child(1) {
  font-size: var(--fs-3xl);
  font-weight: var(--fw-black);

  margin-bottom: 5px;

  opacity: 0;
  transform: translateY(100%);
}

@media (max-width: 800px) {
  #home_landing_wrapper > div:nth-child(2) > div:nth-child(1) {
    font-size: var(--fs-2xl);
  }
}

#home_landing_wrapper > div:nth-child(2) > div:nth-child(2) {
  font-size: var(--fs-base);
  font-weight: var(--fw-light);

  opacity: 0;
  transform: translateY(100%);
}

#home_landing_wrapper > div:nth-child(3) {
  width: clamp(275px, 21.25%, 450px);
  max-height: 40%;

  position: absolute;
  left: calc((100% - (clamp(275px, 21.25%, 450px))) / 2);
  /* bottom: -100%; */
  bottom: 0;
  opacity: 0;
}

#home_landing_wrapper > div:nth-child(4) {
  padding: 3.75px 45px;
  border-radius: 50px;
  background-color: white;

  z-index: 1;
  transition: all 300ms;
  border: 1px solid white;
  transform: translateY(-50%);

  font-size: var(--fs-lg);
  font-weight: var(--fw-light);

  opacity: 0;
}

#home_landing_wrapper > div:nth-child(4):hover {
  border: 1px solid black;
}
