#checkout_header_wrapper {
  width: 100%;
  height: fit-content;

  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  @include flex(baseline, space-between);
}

#checkout_header_wrapper > h1 {
  font-size: fs(1.25);
  font-weight: $fw-medium;
}

#checkout_header_wrapper > h2 {
  color: $secondary;
  font-size: fs(.25);
  font-weight: $fw-light;
}
