#home_lanyard_wrapper {
  width: 100%;
  height: 100vh;

  padding: 11.5vh 0 10vh 0;
}

#home_lanyard_wrapper > *:nth-child(1) {
  text-align: center;
}

#home_lanyard_wrapper > *:nth-child(1) > *:nth-child(1) {
  font-size: var(--fs-lg);
  font-weight: var(--fw-extra-bold);
  margin-bottom: 5px;
}

#home_lanyard_wrapper > *:nth-child(1) > *:nth-child(2) {
  font-size: var(--fs-base);
  font-weight: var(--fw-light);
}

#home_lanyard_wrapper > *:nth-child(2) {
  height: 80%;
  z-index: -1;
  margin-bottom: 10px;
}

#home_lanyard_wrapper > *:nth-child(2) > img {
  transform: scale(1.25);
}

#home_lanyard_wrapper > *:nth-child(3) {
  font-size: var(--fs-xs);
  text-decoration: underline;

  color: black;
  margin-bottom: 15px;
}

#home_lanyard_wrapper > *:nth-child(4) {
  color: red;
  font-family: "Give You Glory", cursive;

  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
  padding: 0 30px;
}
