$fs-base: 1rem;
$fs-ratio: 1.25;

$white: #ffffff;
$black: #000000;
$primary: rgb(51, 51, 51);
$secondary: #D41F27;

$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;
