#store_lanyard_desktop_wrapper {
  width: 100%;
  height: fit-content;

  padding: clamp(20px, 10%, 60px) 20px 125px 20px;
}

#store_lanyard_desktop_wrapper > div:nth-child(1) {
  width: 100%;
  margin-bottom: 50px;
}

#store_lanyard_desktop_wrapper > div:nth-child(1) > div:nth-child(1) {
  color: #c4c4c4;
  font-size: fs(-1);
}

#store_lanyard_desktop_wrapper > div:nth-child(1) > div:nth-child(2) {
  font-size: fs(1.5);
  font-weight: $fw-bold;

  margin-bottom: 2.5px;
}

#store_lanyard_desktop_wrapper > div:nth-child(1) > div:nth-child(3) {
  font-weight: $fw-light;
}

#store_lanyard_desktop_wrapper > div:nth-child(2) {
  width: 100%;
  height: fit-content;
}

#store_lanyard_desktop_wrapper > div:nth-child(2) > div:nth-child(1) {
  max-width: 60%;
  height: calc(100vh - (15px * 2));

  position: sticky;
  left: 0;
  top: 15px;

  margin-right: 75px;
  border-radius: 100px;

  /* background: rgb(186, 183, 172); */
}

#store_lanyard_desktop_wrapper > div:nth-child(2) > div:nth-child(1) > * {
  object-fit: cover;
}

#store_lanyard_desktop_wrapper > div:nth-child(2) > div:nth-child(2) {
  width: fit-content;
  height: 100%;

  flex: 1;
}

.delivery-options > article {
  @include flex(flex-start, flex-start);
}

.delivery-options > article:nth-child(1) {
  margin-bottom: 40px;
}

.delivery-options > article > img {
  width: 50px;
  height: 50px;

  margin-right: 20px;
}

.delivery-options > article:nth-child(2) > img {
  height: 40px;
}

.delivery-options > article > div {
  text-align: left;
  font-size: fs(-1);

  @include flex(flex-start, flex-start, column);
}

.delivery-options > article > div > p > strong {
  font-size: fs(-0.5);
}

.delivery-options > article > div > button {
  font-size: fs(-1);
  color: $secondary;

  border: none;
  cursor: pointer;
  background-color: white;
  @include flex(center, flex-start);
}

@media (min-width: 800px) {
  .delivery-options > article > div br {
    display: none;
  }

  .delivery-options > article > div strong {
    margin-right: 7.5px;
  }

  .delivery-options > article > div span {
    margin-right: 10px;
  }

  .delivery-options > article > div > button {
    margin-top: 2.5px;
  }
}

.delivery-options > article > div > button > img {
  width: 15px;
  aspect-ratio: 1/1;
  margin-left: 6.5px;
}
