#checkout_summary_wrapper {
  width: 100%;
  @include flex(flex-start, flex-start, column);
}

#checkout_summary_wrapper > h3 {
  font-size: fs(0);
  font-weight: $fw-normal;

  margin-top: 10px;
  margin-bottom: 75px;
}

#checkout_summary_wrapper > section {
  width: 100%;
  margin-bottom: 40px;
}

#checkout_summary_wrapper > section > div {
  margin-bottom: 40px;
  padding-bottom: 25px;

  @include flex(flex-start, flex-start);
}

#checkout_summary_wrapper > section > div:last-child {
  margin-bottom: 0;
}

#checkout_summary_wrapper > section > div > img {
  width: 75px;
  aspect-ratio: 1/1;

  margin-right: 10px;
}

#checkout_summary_wrapper > section > div > p {
  width: 50%;
  font-size: fs(-0.5);
  font-weight: $fw-light;
}

#checkout_summary_wrapper > p {
  width: 100%;
  max-width: 500px;

  font-size: fs(-0.75);
  font-weight: $fw-medium;

  margin-bottom: 10px;

  align-self: center;
  text-align: left !important;
}

#checkout_summary_wrapper > div:nth-of-type(1) {
  width: 100%;
  max-width: 500px;

  margin-bottom: 75px;
  padding: 15px 12.5px;

  border-radius: 7.5px;
  border: 1.5px solid $secondary;
  @include flex(center, space-between);
}

#checkout_summary_wrapper > div:nth-of-type(1) > div:nth-of-type(1) {
  font-size: fs(-0.75);
  @include flex(flex-start, flex-start, column);
}

#checkout_summary_wrapper
  > div:nth-of-type(1)
  > div:nth-of-type(1)
  > p:nth-of-type(1) {
  font-weight: $fw-bold;
  margin-bottom: 7.5px;
}

#checkout_summary_wrapper
  > div:nth-of-type(1)
  > div:nth-of-type(1)
  > p:nth-of-type(2) {
  font-size: fs(-2.25);
  font-weight: $fw-light;
}

#checkout_summary_wrapper > div:nth-of-type(1) > p {
  font-size: fs(-0.5);
  font-weight: $fw-thin;
}

#checkout_summary_wrapper > div:nth-of-type(2) {
  width: 100%;
  height: 1px;

  margin-bottom: 45px;
  background-color: rgba(0, 0, 0, 0.2);
}

#checkout_summary_wrapper > *:last-child {
  width: 90%;
  padding: 12.5px 0;

  color: $white;
  font-size: fs(-0.5);
  align-self: center;
  text-align: center;
  border-radius: 7.5px;
  text-decoration: none;
  margin-bottom: 75px;
  background-color: $secondary;
}

@media (min-width: 800px) {
  #checkout_summary_wrapper > section {
    margin-bottom: 80px;
    @include flex(center, flex-start, column);
  }

  #checkout_summary_wrapper > section > div {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    @include flex(center, center, column);
  }

  #checkout_summary_wrapper > section > div > img {
    width: 125px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  #checkout_summary_wrapper > section > div > p {
    font-size: fs(-0.25);
  }

  #checkout_summary_wrapper > p {
    width: 100%;
    text-align: center;
  }

  #checkout_summary_wrapper > div:nth-of-type(1) {
    align-self: center;
  }
}
