#admin_orders_details_wrapper{
    width: 100%;
    height: 100%;
  
    padding: 20px;
    overflow-y: scroll;
}

#admin_orders_details_wrapper > div:nth-child(1){
    width: 100%;
    margin-bottom: 10px;
}

#admin_orders_details_wrapper > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    font-size: var(--fs-3xl);
    margin-bottom: 15px;
}

#admin_orders_details_wrapper > div:nth-child(1) > div:nth-child(2){
    font-size: var(--fs-xs);
}

#admin_orders_details_wrapper > div:nth-child(2){
    margin-bottom: 50px;
    align-self: flex-end;
}

#admin_orders_details_wrapper > div:nth-child(2) > div{
    width: fit-content;
    height: fit-content;

    padding: 1.5px 25px;
    border-radius: 20px;

    cursor: pointer;

    border: 2.5px solid black;
    font-size: var(--fs-xs);
}

#admin_orders_details_wrapper > div:nth-child(2) > div:nth-child(1){
    margin-right: 20px;
}

#admin_orders_details_wrapper > div:nth-child(3){
    font-size: var(--fs-sm);
    margin-bottom: 80px;
}

#admin_orders_details_wrapper > div:nth-child(3) > div:nth-child(1){
    margin-bottom: 15px;

    font-size: var(--fs-sm);
}

#admin_orders_details_wrapper > div:nth-child(3) > div:nth-child(1) > div:nth-child(1){
    margin-right: 15px;
}

#admin_orders_details_wrapper > div:nth-child(4){
    width: 100%;
    font-size: var(--fs-sm);
}

#admin_orders_details_wrapper > div:nth-child(4) > div:nth-child(1){
    width: 35%;
    margin-bottom: 5px;
}