#main_contact_wrapper {
  width: 100%;
  height: 95vh;

  padding: 15vh 3.25% 0 3.25%;
}

#main_contact_wrapper > div {
  width: 30%;

  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  #main_contact_wrapper > div {
    width: 80%;
  }
}

@media (max-width: 500px) {
  #main_contact_wrapper > div {
    width: 100%;
  }
}

#main_contact_wrapper > div:nth-child(1) {
  width: 100%;
  font-size: fs(2);
  letter-spacing: 0.22em;

  margin-bottom: 40px;
}

#main_contact_wrapper > div:nth-child(5) {
  height: 20vh;
  padding: 10px;

  border-radius: 5px;
  border: 2px solid #c9cace;
}

#main_contact_wrapper > div:nth-child(5) > * {
  font-size: fs(-1.5);
}

#main_contact_wrapper > div:nth-child(5) > *::placeholder {
  color: $black;
}

#main_contact_wrapper > div:last-child {
  width: fit-content;

  color: $white;
  background: $black;

  font-size: fs(-1);
  padding: 7.5px 65px;

  cursor: pointer;
  margin-top: 40px;
}
