#checkout_contact_wrapper {
  width: 100%;

  color: $black;
  text-decoration: none;

  font-size: fs(-1);

  padding: 17.5px 0;
  text-align: center;

  margin-top: 35px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#checkout_contact_wrapper > span {
    color: $secondary;
    text-decoration: underline;
}