#store_lanyard_mobile_color_wrapper {
  width: 100%;
  height: fit-content;

  margin-bottom: 70px;
  @include flex(flex-start, flex-start, column);
}

#store_lanyard_mobile_color_wrapper > div:nth-child(1) {
  font-size: fs(3);
  font-weight: $fw-bold;
  letter-spacing: -1.25px;

  margin-bottom: 20px;
}

#store_lanyard_mobile_color_wrapper > div:nth-child(1) > span {
  background: linear-gradient(to right, #ff0000, #666666);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

#store_lanyard_mobile_color_wrapper > div:nth-child(2) {
  width: 100%;

  border-radius: 30px;
  background-color: #f5f5f7;

  padding: 10px 40px;
  margin-bottom: 45px;
}

#store_lanyard_mobile_color_wrapper > div:nth-child(3) {
  width: 100%;
}

#store_lanyard_mobile_color_wrapper > div:nth-child(3) > div:nth-child(1) {
  font-size: fs(0.5);
  font-weight: $fw-semi-bold;
  margin-bottom: 7.5px;
}

#store_lanyard_mobile_color_wrapper > div:nth-child(3) > div:nth-child(2) {
  flex-wrap: wrap;
  gap: 10px;

  @include flex(flex-start, flex-start);
}

#store_lanyard_mobile_color_wrapper
  > div:nth-child(3)
  > div:nth-child(2)
  > div {
  width: 35px;
  aspect-ratio: 1/1;

  border-radius: 50%;
  transition: all 300ms;

  box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.25) inset;

  cursor: pointer;
}
